main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.card {
    width: 20rem;
    border: solid black 2px;
    border-radius: 5%;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

#gaugeCanvas {
    width: 150px;
}

.imageCard {
    border: solid black 1px;
    width: 100%;
    object-fit: cover;
}

.content {
    display: flex;
}