.colorh1 {
    color : blue;
}

@media screen and (max-width: 768px) {
    .headerM {
        display: flex;
        justify-content: space-between;
    }
    .headerD {
        display: none;
    }
    .openNav{
        display: none;
    }
    #contextMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header #burger {
        display: block;
        font-size: 3rem;
        border: solid black 2px;
        border-radius: 50%;
        padding: 1rem;
    }
}
@media screen and (min-width:769px) {
    .headerM {
        display: none
    }
}